body {
  /* font-family: "Open Sans", sans-serif; */
  font-family:Garamond, Georgia, serif;
  background-color: black;
  color:white

  
}


/* h1, h2, h3, .card-body>.card-title {
  font-family: "Lobster", cursive;
} */

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
  color:black;
 
}

.card-text {
   font-size: 1.25rem;
   color:black;
   
  }
  


h1{
  font-size: 3rem;
  color:white
}

h2, h3, h5{
  color:white;
  
}



.fa-heart{
  color:red;
}


.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.row-content-footer {
  padding: 60px 0;
  border-top: 1px ridge;
  
}

.modal-backdrop {
  background-color:rgb(80, 78, 78);
  
}

.my-modal .modal-content {

  background-color:rgb(127, 125, 129);
  color: white
}


.site-footer {
  background-image: linear-gradient(black, grey);
  padding: 150px 0 0px 0;
  color:white;
  
}



.jumbotron {
  margin: 0;
  padding: 80px;
  background-image: linear-gradient(grey, black);
}



.navbar-dark {
  background-color: #901CAD;
}